* {
    background-color: #032130;
}
#logo{
    display:block;
    margin-top: 5em;
    margin-left: auto;
    margin-right:auto;
    width: 500px;
    animation: hovering 3s infinite;

    
}

@keyframes hovering{
    0%{
      transform:translateY(0rem);
    }
    50%{
      transform:translateY(-1rem);
    }
    100%{
      transform:translateY(0rem);
    }
  
    
    }


